@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;500;600;700&family=Poppins:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.app-container {
  background-color: #f5f5f5;
}

.loading {
  position: sticky;
  top: 0;
  z-index: 9999999999999999999;
}
/* Halaman Login dan Register */
.login-page,
.register-page {
  background-image: url(../../public/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-input,
.register-input {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 12px;
  margin-bottom: 12px;
}

.login-input .email,
.login-input .password,
.login-input .button,
.register-input .name,
.register-input .email,
.register-input .password,
.register-input .button {
  height: 44px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
}

.login-input .button,
.register-input .button {
  background-color: #3498db;
}

.login-input .email,
.login-input .password,
.register-input .name,
.register-input .email,
.register-input .password {
  padding-left: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  transition: border-color 0.3s;
}

.login-input .email:focus,
.login-input .password:focus,
.register-input .name:focus,
.register-input .email:focus,
.register-input .password:focus {
  outline: none;
  border-color: #ff9900;
  box-shadow: 0px 0px 6px rgba(255, 153, 0, 0.5);
}

.login-input .button:hover,
.register-input .button:hover {
  cursor: pointer;
  background-color: #2980b9;
}

.login-page_input,
.register-page_input {
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  width: 400px;
  padding: 30px;
  text-align: center;
}

.login-page_input h2,
.register-page_input h2 {
  text-align: center;
}

.register-page_input p .to-login,
.login-page_input p .to-register {
  text-decoration: none;
  color: pink;
  font-weight: bold;
  transition: color 0.3s;
}

.register-page_input p .to-login:hover,
.login-page_input p .to-register:hover {
  color: #ff9900;
}

/* Navigation */
.navigation {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  /* z-index: 1000; */
}

.navigation-user {
  display: flex;
  align-items: center;
  padding-left: 24px;
}

.navigation-user img {
  border-radius: 50%;
  margin-right: 5px;
  height: 80%;
}

.navigation-user h2 {
  font-size: 1.2rem;
}

.navigation-link {
  display: grid;
  grid-template-columns: 3fr 1fr;
  position: relative;
  margin-right: 8px;
}

.menu-items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 12px;
  gap: 16px;
}

.menu-items .link-home,
.menu-items .link-leaderboards {
  text-decoration: none;
  position: relative;
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
  cursor: pointer;
}

.menu-items .link-home::after,
.menu-items .link-leaderboards::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #333;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s;
}

.menu-items .link-home:hover,
.menu-items .link-leaderboards:hover {
  color: #ff9900;
}

.menu-items .link-home:hover::after,
.menu-items .link-leaderboards:hover::after {
  transform: scaleX(1);
}

.menu-button {
  background-color: #ff9900;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin: auto auto;
  height: 80%;
}

.menu-button:hover {
  background-color: #e68a00;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.menu-toggle {
  font-size: 24px;
  color: #333;
  cursor: pointer;
  display: none;
  /* z-index: 99999; */
  /* background-color: red; */
}
/* .menu-toggle .icon {
  width: 44px;
  height: 44px;
  margin: 0 auto;
} */

.navigation-link.open .menu-toggle {
  color: #ff4500;
}

.navigation-user h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 626px) {
  .navigation {
    display: flex;
    justify-content: space-between;
  }

  .navigation-link {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
  }

  .menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto auto;
    padding: 4px;
    /* background-color: red; */
  }

  .menu-toggle .icon {
    display: block;
    height: 44px;
    width: 44px;
  }

  .menu-items {
    display: flex;
    position: fixed;
    top: 80px;
    right: 0;
    transform: translateX(120%);
    width: 100%;
    height: 50%;
    background-color: white;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* z-index: 0; */
    transition: 0.3s ease-in-out;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    /* background-color: red; */
  }

  .open .menu-items {
    /* background-color: grey; */
    transform: translateX(0%);
  }

  .link-home,
  .link-leaderboards {
    display: block;
    font-size: 16px;
    color: #4169e1;
    text-decoration: none;
    margin: 10px 0;
    transition: color 0.2s;
  }

  .link-home:hover,
  .link-leaderboards:hover {
    color: #6495ed;
  }

  .menu-button {
    display: block;
    padding: 8px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
}

/* Leaderboards */
.leaderboards-page {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.leaderboards-list {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.leaderboard-info {
  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr;
  align-items: center;
  gap: 16px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.leaderboard-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.leaderboard-info_user .name {
  font-weight: bold;
  color: #333;
}

.leaderboard-info_user .email {
  font-weight: normal;
  color: #999;
}

.leaderboard-score {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: flex-end;
}

.leaderboard-score .score {
  font-weight: bold;
  color: #ff9900;
}

.leaderboard-info:hover {
  background-color: #f5f5f5;
}

.home-page {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.home-page h1.title {
  font-size: 2rem;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-bottom: 32px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 60px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.home-page h1.title::after {
  content: "";
  display: block;
  width: 20%;
  height: 3px;
  background-color: black;
  margin: 1px auto 0;
}

input,
button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-container label {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
}

.input-container input.title,
.input-container textarea.body {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
  background-color: white;
}

.input-container textarea.body {
  height: 100px;
}

.input-container textarea.body::placeholder {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.input-container input:focus {
  border: 2px solid black;
}

.input-container textarea.body:focus {
  border-color: #3498db;
}

.thread-input__title,
.thread-input__body {
  font-size: 14px;
  color: #555;
}

.thread-input__title {
  margin-bottom: 12px;
}

.thread-input button {
  width: 100%;
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
  margin-bottom: 32px;
}

.thread-input button:hover {
  background-color: #2980b9;
}

/* Thread-item */
.threads-list {
  display: grid;
  grid-template-columns: 1fr;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(200, 200, 200, 0.8), 0 0 20px rgba(255, 255, 255, 0.8);
  transition: transform 0.2s ease-out, color 0.2s ease-out;
  cursor: pointer;
}

.thread-item {
  border: none;
  outline: none;
  display: flex;
  padding: 10px;
  gap: 16px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  /* cursor: pointer; */
  transition: background-color 0.2s ease-out;
}

.thread-item:hover {
  background-color: #f5f5f5;
  /* color: #3498db; */
}

.thread-item-photo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.thread-item-user {
  flex: 1;
}

.thread-item-user header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.thread-item-user-info {
  flex: 1;
}

.thread-item-user-info h3.judul {
  font-size: 18px;
  margin-bottom: 3px;
}

.thread-item-user-info p.name {
  font-size: 12px;
  color: #666;
}

.thread-item-user-info p.email {
  font-size: 10px;
  color: #999;
  margin-bottom: 4px;
}

.thread-item-user p.date {
  font-size: 12px;
  color: #999;
}

.thread-item-text p.text {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.thread-item-information,
.comment-item-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.thread-item-information .likes,
.comment-item-information .likes {
  display: flex;
  justify-content: flex-start;
  gap: 4px;
}

.thread-item-information .likes .downVote,
.comment-item-information .likes .downVote,
.thread-item-information .likes .upVote,
.comment-item-information .likes .upVote {
  padding: 8px;
}

.thread-item-information p.comment,
.comment-item-information p.comment {
  font-size: 14px;
  color: #666;
}

/* Halaman Detail Thread */
.detail-page {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.detail-page-info {
  margin-top: 60px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: white;
}

.thread-detail {
  padding: 10px;
  transition: transform 0.2s ease-in-out;
}

.thread-detail-user {
  margin-bottom: 10px;
}

.judul {
  font-size: 24px;
  margin-bottom: 10px;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.thread-detail-info {
  display: flex;
  align-items: center;
}

.thread-detail-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.thread-detail-info .name {
  font-size: 14px;
  font-weight: bold;
  margin-right: 5px;
}

.date {
  font-size: 14px;
  color: #999;
}

.comment-input {
  padding: 20px;
  border-radius: 8px;
  background-color: #f5f5f5;
  transition: transform 0.2s ease-in-out;
}

.comment-input h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.comment-input form {
  display: flex;
  flex-direction: column;
}

.comment-post {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}

.comment-post .body {
  flex: 1;
  border: none;
  padding: 5px;
  height: 44px;
}

.comment-input form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  height: 44px;
}

.comment-input form button:hover {
  background-color: #0056b3;
}

.comment-list {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-height: 400px;
  overflow-y: auto;
  margin-top: 16px;
  margin-bottom: 32px;
}

.comment-list h4 {
  padding: 10px;
}

.comment-item {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  transition: background-color 0.2s ease-in-out;
}

.comment-item:hover {
  background-color: #f5f5f5;
}

.comment-item-photo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-item-user {
  flex: 1;
}

.comment-item-user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.comment-item-user .name {
  font-weight: bold;
}

.comment-item-user .date {
  font-size: 12px;
  color: #999;
}

.comment-item-text {
  font-size: 14px;
}

.footer {
  background-color: white;
  color: black;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.1);
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (max-width: 526px) {
  .leaderboard-info {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 1fr;
  }

  .leaderboard-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto;
  }

  .leaderboard-info_user {
    margin: 0 auto;
  }

  .leaderboard-score {
    justify-content: center;
  }
}
