@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;500;600;700&family=Poppins:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.menu-items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 12px;
  gap: 16px;
}

.menu-items .link-home,
.menu-items .link-leaderboards {
  text-decoration: none;
  position: relative;
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
  cursor: pointer;
}

.menu-items .link-home::after,
.menu-items .link-leaderboards::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #333;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s;
}

.menu-items .link-home:hover,
.menu-items .link-leaderboards:hover {
  color: #ff9900;
}

.menu-items .link-home:hover::after,
.menu-items .link-leaderboards:hover::after {
  transform: scaleX(1);
}

@media screen and (max-width: 626px) {
  .menu-items {
    display: flex;
    position: fixed;
    top: 70px;
    right: 0;
    transform: translateX(120%);
    width: 40%;
    height: 100px;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
  }

  .open .menu-items {
    transform: translateX(0%);
  }

  .link-home,
  .link-leaderboards {
    display: block;
    font-size: 16px;
    color: #4169e1;
    text-decoration: none;
    margin: 10px 0;
    transition: color 0.2s;
  }

  .link-home:hover,
  .link-leaderboards:hover {
    color: #6495ed;
  }
}
